[submodule "software/nrf5x-base"]
	path = software/nrf5x-base
	url = https://github.com/lab11/nrf5x-base
[submodule "software/nrf52x-base"]
	path = software/nrf52x-base
	url = https://github.com/lab11/nrf52x-base
